@use '../../styles/_mixin' as *;
.tde-toolbar-heading-block {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 0;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .text {
    font-size: 14px;
    font-weight: 500;
  }

  @include respond-to("mobile") {
    .icon {
      svg {
        width: 12px;
        height: 12px;
      }
    }
   .text {
    font-size: 10px;
    font-weight: 400;
   }
  } 
}