.tde-font-highlight-trigger-parent {
  display: flex;
  height: 100%;
  padding: 4px;
  border-radius: 2px;

  &:hover {
    background-color: #f5f5f5;
  }
}

.tde-font-highlight-trigger {
  display: flex;
  gap: 2px;
  width: 100%;
  height: 100%;
  --font-color: #000000;

  .icon {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    height: 20px;
    width: 20px;
    align-self: center;
    justify-content: end;
    --font-color: #000000;

    svg {
      margin-bottom: 4px;
      width: 16px;
      height: 16px;
    }

    .underline {
      width: 66%;
      height: 2px;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--font-color);
    }
  }
}